<div class = "search_products_container">
  <aside class="sidebar">
    <h2>フィルターオプション</h2>
    <%= form_with url: search_path, method: :get, remote: true do |f| %>
      <div class="filter-group">
        <label for="search">AIツールを検索:</label>
        <%= f.text_field :search, placeholder: "AIツールを検索", class: "search-input" %>
      </div>
      <div class="filter-group">
        <label>カテゴリ:</label>
        <span id="toggle-category-list" class="toggle-button">カテゴリを表示</span>
        <div id="category-list" class="category-list">
          <% @categories.each_with_index do |category, index| %>
            <div class="filter-option">
              <%= check_box_tag 'category[]', category.id, false, id: "category_#{category.id}" %>
              <%= label_tag "category_#{category.id}", category.category %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter-group">
        <label>利用目的:</label>
        <span id="toggle-purpose-list" class="toggle-button">利用目的一覧を表示</span>
        <div id="purpose-list" class="category-list">
          <% @purposes.each_with_index do |purpose, index| %>
            <div class="filter-option">
              <%= check_box_tag 'purpose[]', purpose.id, false, id: "purpose_#{purpose.id}" %>
              <%= label_tag "purpose_#{purpose.id}", purpose.purpose %>
            </div>
          <% end %>
        </div>
      </div>
    <%= f.submit "フィルター", class: "filter-button" %>
    <% end %>
  </aside>

  <section class="product-list" id="ai_products">
    <div class="search_products">
      <!-- AI製品の例 -->
      <% @ai_products.each do |ai_product| %>
      <div class="product-item">
        <div class="product-header">
          <h3 class="product-name"><%= ai_product.product_name %></h3>
        </div>
        <p class="product-summary"><%= ai_product.chat_gpt_ai_products_introduction.introduction %></p>
        <p class="product-fee-type badge badge-secondary">
          <%= ai_product.usage_fee_type %>
        </p>
        <% ai_product.categories.each do |category| %>
          <span class="badge badge-secondary"><%= category.category %></span>
        <% end %>
         <%= link_to '製品詳細', ai_product_path(ai_product), class: 'details-button' %>
      </div>
      <% end %>
    </div>
    <%= paginate @ai_products %>
  </section>
 </div> 


